name: CI

on:
  push:
    branches:
      - "main"
      - "maintenance/.+"
  pull_request:
    branches:
      - "main"
      - "maintenance/.+"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        os: ubuntu-latest
        python-version: [3.7, 3.8, 3.9]
    env:
      CI_OS: ${{ matrix.os }}
      PYVER: ${{ matrix.python-version }}
      COV: --cov=openff/utilities --cov-report=xml --cov-config=setup.cfg --cov-append

    steps:
    - uses: actions/checkout@v2.3.4

    - uses: conda-incubator/setup-miniconda@v2.1.1
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: test
        mamba-version: "*"
        channels: conda-forge,defaults
        environment-file: devtools/conda-envs/test_env.yaml
        auto-update-conda: true
        auto-activate-base: false
        show-channel-urls: true

    - name: Additional info about the build
      shell: bash
      run: |
        uname -a
        df -h
        ulimit -a

    - name: Environment Information
      shell: bash -l {0}
      run: |
        conda info
        conda list

    - name: Install package
      shell: bash -l {0}
      run: |
        python setup.py develop --no-deps

    - name: Run mypy
      shell: bash -l {0}
      run: |
        mypy --show-error-codes --namespace-packages -p "openff.utilities"

    - name: Run unit tests
      shell: bash -l {0}
      run: |
        pytest -v $COV openff/utilities/tests/

    - name: Codecov
      uses: codecov/codecov-action@v1.5.0
      with:
        file: ./coverage.xml
        fail_ci_if_error: false
